/***********************************************/
body{margin: 0px;}

nav{
    display: flex;
}
nav>.website{
    display: flex;
    font-size: 20px;
    flex: auto;
    background-color: #fcfafa;
    padding: 10px;
}
nav>.item{
    display: flex;
    font-size: 20px;
    flex: none;
    width: 70px;
    background-color: #fcfcfc;
    padding: 10px;
}

nav>.item-advance{
    display: none;
    font-size: 20px;
    flex: none;
    width: 70px;
    background-color: #fcfcfc;
    padding: 10px;
}

/***********************************************/
.content{
    /* horizontal center */ 
    display: flex;
    justify-content: center; 

    /* vertical center */ 
    flex-wrap: wrap;
    align-content: center; 

    /* size setting */ 
    font-size: 40px;
    height: 300px;

    /* color setting */ 
    background-color: #b7def8e1; 
    color: #000;    
}

/***********************************************/

.picture{
    width: 1250 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.line_break {
    width: 100%;
}

/* .row_2{
    width: 1250 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
} */

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 300px;
    background-color: #ffffff;
    padding: 5px;
}

img{
    width: 100%;
    height: 180px;
}

.img_name {
    font-size: 17px;
    text-align: center;
    margin: 5px;
}




/***********************************************/

@media (max-width: 1200px) {
    .box{width: 45%;}
}

@media (max-width: 600px) {
    .box{width: 90%;}

    nav>.item{
        display: none;
    }
    nav>.item-advance{
        display: flex;
        justify-content:end;
    }
}

/***********************************************/