/***********************************************/
body{margin: 0px;}

nav{
    display: flex;
}
nav>.website{
    display: flex;
    font-size: 20px;
    flex: auto;
    background-color: #fcfafa;
    padding: 10px;
}
nav>.item{
    display: flex;
    font-size: 20px;
    flex: none;
    width: 70px;
    background-color: #fcfcfc;
    padding: 10px;
}

nav>.item-advance{
    display: none;
    font-size: 20px;
    flex: none;
    width: 70px;
    background-color: #fcfcfc;
    padding: 10px;
}
/***********************************************/
.content{
    /* horizontal center */ 
    display: flex;
    justify-content: center; 

    /* vertical center */ 
    flex-wrap: wrap;
    align-content: center; 

    /* size setting */ 
    font-size: 40px;
    height: 300px;

    /* color setting */ 
    background-color: #b7def8e1; 
    color: #000;    
}
/***********************************************/

main{
    width: 1250 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

main>.song{
    width: 300px;
    flex: none;
    text-align: center;font-size: 25px;
    background-color: #fcfcfce1; 
    margin: 0 5px; 
}


/***********************************************/

@media (max-width: 1200px) {
    main>.song{width: 45%;}
}

@media (max-width: 600px) {
    main>.song{width: 90%;}

    nav>.item{
        display: none;
    }
    nav>.item-advance{
        display: flex;
        justify-content:end;
    }
}

/***********************************************/